@model ErrorViewModel

<div class="h-2/3 w-1/3 rounded glass shadow flex flex-col justify-start align-center bg-white">
    <div class="w-full flex flex-row">
        <h1 class="text-danger">Error.</h1>
        <h2 class="text-danger">An error occurred while processing your request.</h2>
    </div>
    @if (Model.ShowRequestId)
    {
        <p>
            <strong>Request ID:</strong> <code>@Model.RequestId</code>
        </p>
    }

    <p>@Model.Error</p>
</div>
