@using Ory.Kratos.Client.Model;

@model KratosSettingsFlow

<div class="h-2/3 w-2/3 rounded glass shadow flex flex-row justify-center align-center overflow-y-scroll">
    <partial name="_KratosForm" for="@Model.Ui" />
</div>