@using Ory.Kratos.Client.Model;

@model KratosSettingsFlow

<div class="h-2/3 w-2/3 rounded glass shadow flex flex-row justify-center align-center">
    <div class="bg bg-verify w-1/2 h-full rounded-l"></div>
    <div class="w-1/2 h-full space-y-6 bg-white p-4 rounded-r flex flex-col justify-evenly items-center">
        @Html.BuildKratosUi(Model.Ui);
    </div>
</div>