@using Ory.Kratos.Client.Model;

@model KratosSettingsFlow

<div class="h-4/5 w-1/3 rounded glass shadow overflow-y-scroll">
    <div class="w-full bg-white p-4 rounded  flex flex-col justify-center align-center">
        <partial name="_KratosSettings" for="@Model.Ui" />
    </div>
</div>