@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

.bg {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.bg-base {
    background-image: url('/i/BG.jpg');
}

.bg-sign-in {
    background-image: url('/i/SIGN_IN_LPANE.jpg');
}

.bg-sign-up {
    background-image: url('/i/SIGN_UP_LPANE.jpg');
}

.bg-verify {
    background-image: url('/i/VERIFY_LPANE.jpg');
}

.glass {
    backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur(3px);
}

.shadow {
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.5);
}
